$css-prefix: 'tlr--';
//Display sizes
$display-sizes: (laptop-l: 1440px, laptop: 1024px, tablet: 768px, mobile-l: 425px, mobile: 375px, mobile-s: 320px);
$display-types: (none, inline, block, flex, inline-block, inline-flex);
@mixin display-mixin {
    @each $d-type in $display-types {
        .#{$css-prefix}d-#{$d-type} {
            display: $d-type;
        }
        @each $key,
        $val in $display-sizes {
            .#{$css-prefix}d-#{$d-type}-#{$key} {
                @media only screen and (min-width: $val) {
                    display: $d-type !important;
                }
            }
        }
    }
}

@include display-mixin();
$ja-properties: (stretch, baseline, unset, center, start, space-between, space-around, flex-start, flex-end);
@mixin ja-mixin {
    @each $p in $ja-properties {
        .#{$css-prefix}justify-content-#{$p} {
            justify-content: $p;
        }
        .#{$css-prefix}align-items-#{$p} {
            align-items: $p;
        }
        @each $key,
        $val in $display-sizes {
            .#{$css-prefix}justify-content-#{$p}-#{$key} {
                @media only screen and (min-width: $val) {
                    justify-content: $p !important;
                }
            }
            .#{$css-prefix}align-items-#{$p}-#{$key} {
                @media only screen and (min-width: $val) {
                    align-items: $p !important;
                }
            }
        }
    }
}

@include ja-mixin;