$primaryColor: #0273DC !default;
$primaryColor-dark: #07569F !default;
$textColor: #646464 !default;
$darkColor: #160202 !default;
$darkColor2: #2E3238 !default;
$neutralHighlight: #EEEEEE !default;
$facebookBlue: #4267B2 !default;
$borderGray: #CECCCC !default;