$primaryColor: #0273DC !default;
$primaryColor-medium: #255DAD !default;
$primaryColor-dark: #07569F !default;
$textColor: #646464 !default;
$darkColor: #160202 !default;
$darkColor2: #2E3238 !default;
$neutralHighlight: #EEEEEE !default;
$facebookBlue: #4267B2 !default;
$borderGray: #CECCCC !default;
$darkBorderGray: #626262 !default;
$backgroundGray: #D0D0D0 !default;
$placeholderGray: #C6CACD !default;
$starYellow: #FFC107 !default;